:root {
    --font-primary: "Inter", sans-serif;
    

    --color-primary: #27AE60;
    --color-secondary: #EB5757;

    --color-gray600: #333333;
    --color-gray300: #828282;
    --color-gray100: #E0E0E0;
    --color-gray0: #F5F5F5;

    --color-btnDisable: #BDBDBD;

}